@font-face {
    font-family: 'colortuberegular';
    src: url('../src/fonts/ColorTube/colortube-regular-webfont.eot');
    src: url('../src/fonts/ColorTube/colortube-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../src/fonts/ColorTube/colortube-regular-webfont.woff2') format('woff2'),
         url('../src/fonts/ColorTube/colortube-regular-webfont.woff') format('woff'),
         url('../src/fonts/ColorTube/colortube-regular-webfont.ttf') format('truetype'),
         url('../src/fonts/ColorTube/colortube-regular-webfont.svg#colortuberegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'white_festive_demoregular';
    src: url('../src/fonts/WhiteFestive/white_festive_demo-webfont.eot');
    src: url('../src/fonts/WhiteFestive/white_festive_demo-webfont.woff2') format('woff2'),
         url('../src/fonts/WhiteFestive/white_festive_demo-webfont.woff') format('woff'),
         url('../src/fonts/WhiteFestive/white_festive_demo-webfont.ttf') format('truetype'),
         url('../src/fonts/WhiteFestive/white_festive_demo-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
	font-family: 'Lato', sans-serif;
	;
}
.myContainerFluid {
	margin: 0;
	padding: 0;
}
html, body {
	margin: 0;
	padding: 0;
}

p{
	color: dimgray;
}


/* Nav */
.title_site{
	font-family: 'colortuberegular';
	background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: none;
	color: black;
}
a:focus {
	text-decoration: none;
	color: black;
}
.navbar-brand h1 {
	font-size: 1.8rem;
}
.navbar-expand-lg {
	position: fixed;
	width: 100%;
	z-index: 10;
}
.h3, h3 {
	font-size: 1.40rem;
}
.navbar-expand-lg .navbar-collapse {
	justify-content: center;
}
/* Header video */
.header-container
{
		margin: 0;
		padding: 0;
		width: 100%;
		border-left: none;
		border-right: none;
		position: relative;
		margin-top: 40px;
	
}
.header-container h1
{
    margin: 0;
    padding: 15px;
    position: absolute;
    color: white;
    top: 0;
    left: 0;
}
.header-container .video-container
{
    margin: 0;
    padding: 0;
    position: relative;
    z-index: -99;
    display: inline-block;
    width: 100%;
    height: auto;
    /* height: 0; */
    text-align: center;
    background-color: #f7d73c;
    padding-top: 40px;
    padding-bottom: 40px;
	
}
.header-container .video-container > iframe
{
    position: absolute; /* Expand to fill */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/* END of Header video */

/* Configuration Section */
.section_title {
    font-size: 1.6em;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 36px;
    width: 100%;
	text-align: center;
	color: white;
}
.section_intro{
	text-align: center;
	margin: 81px;
	
}
.h3_section_intro{
	font-family: 'white_festive_demoregular';
	font-size: 5vw;
	color: #af43b1;
}
.h3, h3 {
    font-size: 1.40rem;
    margin-bottom: 25px;
}
/* Footer */
.footer {
	display: flex;
	justify-content: center;
	background-color: #f1f6f6;
}
.footer_title {
	font-size: 1em;
	letter-spacing: 2px;
	margin-top: 20px;
	margin-bottom: 0px;
	width: 100%;
	text-align: center;
}
.container_social {
	display: flex;
	justify-content: center;
	width: 100%;
}
ul{
	list-style: none;
	padding-left: 0;
	display: inline-flex;
}
li{
	margin-left: 5px;
	margin-right: 5px;
}
.copyright {
	font-size: 0.65em;
	letter-spacing: 2px;
	color: #393a3b;
	width: 100%;
	text-align: center;
}

/* Icons reseaux sociaux  */
ul.socialIcons {
	padding: 0;
	text-align: center;
}
.socialIcons li {
	background: yellow;
	list-style: none;
	display: inline-block;
	margin: 15px;
	margin-top: 15%;
	border-radius: 2em;
	overflow: hidden;
}
.socialIcons li a {
	display: block;
	padding: .5em;
	max-width: 2.3em;
	min-width: 2.3em;
	height: 2.3em;
	white-space: nowrap;
	line-height: 1.5em;
	transition: .5s;
	text-decoration: none;
	font-family: arial;
	color: #fff;
}
.socialIcons li i {
	margin-right: .5em;
}
.socialIcons li:hover a {
	max-width: 200px;
	padding-right: 1em;
}
.socialIcons .facebook {
	background: #3b5998;
	box-shadow: 0 0 16px #3b5998;
}
.socialIcons .twitter {
	background: #00aced;
	box-shadow: 0 0 16px #00aced;
}
.socialIcons .instagram {
	background: #cd486b;
	box-shadow: 0 0 16px #cd486b;
}
.socialIcons .pinterest {
	background: #c92228;
	box-shadow: 0 0 16px #c92228;
}
.margin_zero {
	margin-left: 0;
	margin-right: 0;
}


/* Version Mobile */
@media screen and (max-width: 767px) {
	.margin_zero {
		margin-left: 0;
		margin-right: 0;
	}
	.copyright {
		font-size: 0.30em;
	}
}